@font-face {
  font-family: "Winter Minie";
  src: url("Winter Minie.woff2") format("woff2");
}

@font-face {
  font-family: "Nature";
  src: url("Nature Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Nature";
  src: url("Nature Bold.woff2") format("woff2");
  font-weight: bold;
}

:root {
  --header: "Winter Minie";
  --text: "Nature";
}

html, body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: #ffe7db;
  margin: 0;
  scroll-padding-top: 100px;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100vw;
  height: 60px;
  padding: 0 20px;
  gap: 40px;
  background-color: #9b4313;
  box-sizing: border-box;
  z-index: 1000;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 100%;
  gap: 30px;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: var(--text);
  font-size: 17.5px;
  line-height: 100%;
  color: white;
  background-color: #9b4313;
  border-bottom: solid 2.75px transparent;
  text-decoration: none;
  box-sizing: border-box;
}

header button {
  position: absolute;
  right: 40px;
  height: 65%;
  font-family: var(--text);
  font-size: 17.5px;
  color: #9b4313;
  background-color: white;
  border: 0;
  border-radius: 5px;
  padding: 0 30px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  gap: 50px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  gap: 20px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.fade_up {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.5s ease-out;
}

.fade_up.show {
  opacity: 1;
  transform: translateY(0);
}

.top {
  position: relative;
  justify-content: left;
  height: calc(100dvh - 60px);
  background: url(Cookies2.jpg) center / cover no-repeat;
}

.top div {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 700px;
  height: 100%;
  font-family: "Trebuchet MS";
  font-size: 50px;
  color: white;
  background: linear-gradient(to right, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0));
  padding: 50px;
  gap: 30px;
  box-sizing: border-box;
}

.top button {
  width: fit-content;
  font-size: 25px;
  font-family: var(--text);
  color: black;
  background-color: white;
  border: 0;
  border-radius: 7.5px;
  padding: 10px 40px;
  cursor: pointer;
}

.bottom, .values {
  gap: 0;
  margin-bottom: 75px;
}

.bottom * {
  margin-top: 30px;
  margin-bottom: 25px;
}

.bottom button {
  margin-top: 0;
}

.members {
  margin-top: 60px;
  margin-bottom: 0;
  gap: 30px;
}

.members div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.members img {
  width: 250px;
  height: 250px;
}

.members img:hover {
  transform: scale(1.1);
}

.values h1 {
  margin-top: 75px;
  margin-bottom: 20px;
}

.values p {
  margin-top: 10px;
  margin-bottom: 0;
}

.values .span {
  margin-top: 50px;
  font-weight: bold
}

main img {
  border-radius: 15px;
  margin: 0;
}

main h1 {
  font-size: 70px;
  font-family: var(--text);
  font-weight: bold;
  color: #632a0b;
  margin: 0;
}

main p {
  width: 70%;
  font-size: 35px;
  font-family: var(--text);
  text-align: center;
  color: #632a0b;
}

main button {
  width: 200px;
  height: 60px;
  font-family: var(--text);
  font-size: 23px;
  color: white;
  background-color: #632a0b;
  border: 0;
  border-radius: 10px;
}

#products {
  padding: 0 10vw;
  gap: 50px;
  margin-top: 30px;
  margin-bottom: 75px;
}

#products > div {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
}

#products > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42.5%;
  height: 250px;
  background-color: white;
  border-radius: 10px;
  padding: 0 15px;
  gap: 5%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

#products > div > div:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

#products > div > div img {
  width: 40%;
  height: 80%;
  border-radius: 5px;
}

#products > div > div p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 80%;
  font-family: var(--text);
  font-size: 25px;
  border-radius: 5px;
}

#show_product {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s ease;
  z-index: 9999;
}

#show_product.hidden {
  opacity: 0;
  pointer-events: none;
}

#show_product_display {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 600px;
  height: 400px;
  background-color: white;
  border-radius: 15px;
  padding: 25px 20px 25px 20px;
  gap: 30px;
  box-sizing: border-box;
}

#show_product_display img {
  width: 40%;
  height: 100%;
  border-radius: 10px;
}

#show_product_display div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 90%;
  gap: 30px;
}

#show_product_display h1 {
  width: 75%;
  height: 10%;
  font-family: var(--text);
  font-size: 25px;
  text-align: center;
  line-height: 0.9;
  letter-spacing: unset;
  color: #632a0b;
  margin: 0;
}

#show_product_display p {
  width: 85%;
  height: 70%;
  font-family: var(--text);
  font-size: 17.5px;
  text-align: left;
  color: #632a0b;
  margin: 0;
}

#show_product_display button {
  width: 75%;
  height: 20%;
  font-family: var(--text);
  font-size: 20px;
  color: white;
  background-color: #632a0b;
  border: 0;
  border-radius: 10px;
}

#show_product_display #back {
  position: absolute;
  top: 12.5px;
  right: 12.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.5%;
  height: 8%;
  font-family: var(--text);
  font-size: 15px;
  color: white;
  background-color: #9e9e9e;
  gap: 6px;
  border: 0;
  border-radius: 7.5px;
}

#show_product_display #back img {
  width: 14px;
  height: 11px;
}

footer {
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 55px;
  background-color: #9b4313;
}

footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17.5px;
  font-family: var(--text);
  color: white;
}

@media (max-width: 1050px) {
  .members div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .members img {
    width: 225px;
    height: 225px;
  }
}

@media (max-width: 800px) {
  #top div {
    width: 400px;
  }

  #products > div {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  #products > div > div {
    width: 80%;
  }

  #show_product_display {
    width: 450px;
    height: 300px;
  }

  #show_product_display h1 {
    font-size: 20px;
  }

  #show_product_display p {
    font-size: 15px;
  }

  #show_product_display button {
    font-size: 17.5px;
  }

  #show_product_display #back {
    font-size: 11px;
  }

  #show_product_display #back img {
    width: 10px;
    height: 7px;
  }
}

@media (max-width: 500px) {
  header {
    padding: 0 15px;
    gap: 20px;
  }

  nav {
    gap: 20px;
  }

  nav a {
    font-size: 16px;
  }

  header button {
    right: 20px;
    font-size: 15px;
    padding: 0 20px;
  }

  .top div {
    width: 350px;
    font-size: 35px;
    padding: 35px;
    
  }

  .top button {
    font-size: 20px;
    padding: 0 30px;
  }

  main h1 {
    font-size: 40px;
  }

  main p {
    font-size: 30px;
  }

  .members div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .members img {
    width: 300px;
    height: 300px;
  }

  #products > div > div {
    width: 90%;
    height: 200px;
  }

  #show_product_display {
    width: 330px;
    height: 250px;
  }

  #show_product_display h1 {
    font-size: 17.5px;
  }

  #show_product_display p {
    font-size: 12.5px;
  }

  #show_product_display button {
    height: 25%;
    font-size: 13.5px;
  }

  #show_product_display #back {
    width: 15%;
    height: 8%;
    font-size: 10px;
  }

  #show_product_display #back img {
    width: 10px;
    height: 7px;
  }

  footer p {
    font-size: 15px;
  }
}

@keyframes spin {
  to {transform: rotate(360deg);}
}